body {
  background: linear-gradient(to top, #f2f2f2 0%, #cce6ff 100%);
  font-size: 20px;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  line-height: 1.15;
}

.container {
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Courier New", "Courier", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container content {
  box-sizing: border-box;
  display: block;
}

.button-wrap {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.btn-toggle {
  font-family: Righteous, Serif;
  font-size: 16px;
  border-radius: 0.5px;
}

h1 {
  font-family: Righteous, Serif;
  font-size: 60px;
  margin: 0;
  text-transform: uppercase;
  color: black;
}

p {
  color: black;
}

a {
  color: grey;
  font-family: "Courier New", "Courier", monospace;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: grey;
}

.icons {
  text-align: center;
  position: relative;
}

.typewriter {
  display: inline-block;
  min-width: 2px;
  border-right: solid 2px black;
  animation: blink-cursor .75s step-end infinite;
}

.typewriter:before {
  content: ' ';
  display: inline-block;
}

.btn-toggle:hover {
  animation: headShake 1s;
}

@keyframes blink-cursor {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #ffffb3; } }

#icon-change {
  filter: invert(100%) grayscale(100%);
}
